<p>
	<ul>
		<% for group in @groups %>
			<li><%= group %></li>
		<% end %>
	</ul>
</p>
<p>
	<%= link_to "main menu", welcome_choose_action_path(:access_token => params[:access_token]), :method => :post %>
</p>
